{% extends 'ScottPassbookBundle:Default:base.html.twig' %}

{% block body %}
    {#
    {{ form_start(form) }}
    {{ form_widget(form) }}
    {{ form_end(form) }}
    #}
    {{ dump(request) }}

    <a href="{{ path('logout') }}">Log Out</a>
{% endblock %}