{% extends 'base.html.twig' %}

{% block body %}
    {% if error %}
        <div>{{ error.messageKey|trans(error.messageData, 'security') }}</div>
    {% endif %}

    {{ dump(session) }}
    {{ form_start(form) }}
    {{ form_widget(form) }}
    {{ form_end(form) }}

    <a href="{{ path('signup') }}"><h3>Sign up</h3></a>
{% endblock %}