{% if replyExists %}
    <details>
        <summary>Click to reply this message.</summary>
        {% include 'ScottBoardBundle:message:add_form.html.twig' with { 'table': 'reply', 'id': id } %}

    </details>
{% else %}
    <details>
        <summary>Click to see reply</summary>
        <ul>
            {% for replys in reply %}
                <li>
                    Name: {{ replys.getName() }}<br>
                    Time: {{ replys.getTime()|date('Y-m-d H:i:s') }}<br>
                    Message: {{ replys.getMsg() }}<br>
                    <form action="/message/reply/update">
                        <input type="hidden" name="id" value={{ replys.id }} />
                        <input type="text"
                            name="msg"
                            placeholder="edit message here"
                            size="50"
                            maxlength="200"
                        />
                        <input type="submit" name="button" value="Update" />
                    </form>

                    <form action="/message/reply/delete">
                        <input type="hidden" name="id" value={{ replys.id }} />
                        <input type="submit" name="button" value="Delete" />
                    </form>
                </li>
            {% endfor %}
        </ul>
        {% include 'ScottBoardBundle:message:add_form.html.twig' with { 'table': 'reply', 'id': id } %}
    </details>
{% endif %}