{% extends 'ScottPassbookBundle:Default:base.html.twig' %}

{% block body %}
    {% set var = result | json_decode_array %}
    <div name="record">
        <table width="30%" border="1">
            <strong><h3>Account</h3></strong>
            <tr>
                <td>Account ID</td>
                <td>Currency</td>
                <td>Balance</td>
            </tr>
            <tr>
                <td>{{ var.data.account.id }}</td>
                <td>{{ var.data.account.currency }}</td>
                <td>{{ var.data.account.balance }}</td>
            </tr>
        </table>
        <br>
        <table width="60%" border="1">
            <strong><h3>Records</h3></strong>
            <tr>
                <td>Time</td>
                <td>Amount</td>
                <td>Memo</td>
                <td>Balance</td>
            </tr>
            {% for records in var.data.record %}
                <tr>
                    <td>{{ records.create_time }}</td>
                    <td>{{ records.amount }}</td>
                    <td>{{ records.memo }}</td>
                    <td>{{ records.balance }}</td>
                </tr>
            {% endfor %}
            <tr>
                <td>The Latest data</td>
                <td>0</td>
                <td>Your current balance</td>
                <td><strong><h3>{{ var.data.account.balance }}</h3></strong></td>
            </tr>
        </table>
    </div>

    <div name="page">
        {% for i in 1..var.data.totalPages %}
            <a href="{{ path('index', {'page': i, 'customerId': var.data.customerId}) }}">
                Page {{ i }}
            </a>
        {% endfor %}
    </div>
    <br><br>
    <form name="form" method="post" action="{{ path('record_add') }}">
        <div id="form">
            <input
                type="hidden"
                id="form_account_id"
                name="form[account_id]"
                value="{{ var.data.account.id }}"
            />
            <input
                type="hidden"
                id="form_customer_id"
                name="form[customerId]"
                value="{{ var.data.customerId }}"
            />
            <div>
                <label for="form_amount" class="required">Amount</label>
                <input
                    type="text"
                    id="form_amount"
                    name="form[amount]"
                    required="required"
                    maxlength="12"
                    pattern="(^[-+]?[0-9]+(\.[0-9]{1,2})?$)"
                    title="Must be an integer or float, and number after decimal point is no more than 2!"
                />
            </div>
            <div>
                <label for="form_memo" class="required">Memo</label>
                <input
                    type="text"
                    id="form_memo"
                    name="form[memo]"
                    required="required"
                    maxlength="50"
                />
            </div>
            <div>
                <button type="submit" id="form_add" name="form[add]">Add New Record</button>
            </div>
        </div>
    </form>
    <br><br>
    <a href="{{ path('logout') }}">Log Out</a>
{% endblock %}